<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper의 namespace는 Mapper 인터페이스와 연동할 때 사용 -->
<mapper namespace="todo.TodoMapper">
	<select id="selectTodoList" resultType="todo.TodoVO">
		SELECT
			T_NO,
			TITLE,
			WRITER,
			COMPLETE,
			DUE_DATE
		FROM
			TODO
	</select>
	<select id="selectTodo" parameterType="int" resultType="todo.TodoVO">
		select
			t_no,
			title,
			writer,
			complete,
			due_date
		from
			todo
		where
			t_no=#{tNo}
	</select>
	<insert id="insertTodo" parameterType="todo.TodoVO">
		insert into TODO
			(title, writer, due_date)
		values
			(#{title}, #{writer}, #{dueDate})
	</insert>
	<update id="updateTodo" parameterType="todo.TodoVO">
		update
			todo
		set
			title=#{title},
			writer=#{writer},
			due_date=#{dueDate}
		where
			t_no=#{tNo}
	</update>
	<delete id="deleteTodo" parameterType="int">
		delete from
			todo
		WHERE
			t_no=#{tNo}
	</delete>
	<update id="updateComplete" parameterType="todo.TodoVO">
		update
			todo
		set
			complete=#{complete}
		where
			t_no=#{tNo}
	</update>
	<select id="selectComplete" parameterType="int" resultType="todo.TodoVO">
		SELECT 
			T_NO, COMPLETE 
		FROM 
			TODO 
		WHERE 
			T_NO=#{TNO}
	</select>
	
	<!-- 파라미터 타입이 int, long, string 이렇게 하나라면 #{} 안에 들어가는 이름은 아무거나 들어가도 상관없음 -->
	<!-- 파라미터가 2개 이상이면 VO에 있는 파라미터 이름이랑 같아야 함(대소문자 구분 확실하게 하기) -->
</mapper>